body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background: #fff;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.time-input {
  width: 20px;
  text-align: center;
  margin-right: 5px;
}

/* pie chart */

.pie {
  position: absolute;
  width: 200px;
  height: 400px;
  overflow: hidden;
  transform-origin: left center;
  width: 400px;
  height: 400px;
  top: 50px;
  left: calc(50% - 200px);
  transform-origin: center center;
  /*transition-property: transform;*/
  transition-timing-function: linear;
}

.pie:before,
.pie:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 400px;
}

.pie:before {
  left: -200px;
  border-radius: 200px 0 0 200px;
  transform-origin: right center;
  left: 0px;
  transform: rotate(0deg);
  background-color: rgb(66, 133, 244);
  transition-duration: 0s;
  /*transition-property: transform;*/
  transition-timing-function: linear;
}
.pie:after {
  left: 200px;
  z-index: 2;
  transform-origin: left center;
  border-radius: 0 200px 200px 0;
  transform: rotate(0deg);
  background-color: rgb(66, 133, 244);
  transition-duration: 0s;
  /*transition-property: transform;*/
  transition-timing-function: linear;
}

.pie.toHalf:after {
  transition-duration: 750s;
  transform: rotate(180deg);
}
.pie.toFull:before {
  transition-duration: 750s;
  transform: rotate(180deg);
}
.pie.toFull:after {
  transform: rotate(0deg);
  background-color: white;
  border-radius: 0 90px 90px 0;
}

.pie.finished:before,
.pie.finished:after {
  background-color: rgb(249, 153, 0);
}
